/*******************************************************************************
//
//
//
//  #COLUMN
//
//
//
*******************************************************************************/

@mixin column($size: 'xs') {
    @for $i from 1 through $grid-columns {
        .l-column-#{$size}-#{$i} {
            width: (100% / $grid-columns) * $i;
        }
    }
}

@mixin column-offset($size: 'xs') {
    @for $i from 0 through $grid-columns {
        .l-column-offset-#{$size}-#{$i} {
            margin-left: (100% / $grid-columns) * $i;
        }
    }
}

@mixin column-pull($size: 'xs') {
    @for $i from 0 through $grid-columns {
        $length: (-100% / $grid-columns) * $i;

        @if $i == 0 {
            $length: auto;
        }

        .l-column-pull-#{$size}-#{$i} {
            margin-left: $length;
        }
    }
}

@mixin column-push($size: 'xs') {
    @for $i from 0 through $grid-columns {
        $length: (100% / $grid-columns) * $i;

        @if $i == 0 {
            $length: auto;
        }

        .l-column-push-#{$size}-#{$i} {
            margin-left: $length;
        }
    }
}

.l-column {
    float: left;
    width: 100%;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
}

@if $grid-column {
    @each $grid-column-breakpoint in $grid-column-breakpoints {
        @include mq-at-least($grid-column-breakpoint) {
            @include column($grid-column-breakpoint);
        }
    }
}

@if $grid-offset {
    @each $grid-offset-breakpoint in $grid-offset-breakpoints {
        @include mq-at-least($grid-offset-breakpoint) {
            @include column-offset($grid-offset-breakpoint);
        }
    }
}

@if $grid-pull {
    @each $grid-pull-breakpoint in $grid-pull-breakpoints {
        @include mq-at-least($grid-pull-breakpoint) {
            @include column-pull($grid-pull-breakpoint);
        }
    }
}

@if $grid-push {
    @each $grid-push-breakpoint in $grid-push-breakpoints {
        @include mq-at-least($grid-push-breakpoint) {
            @include column-push($grid-push-breakpoint);
        }
    }
}
