/*******************************************************************************
//
//
//
//  #MEDIA
//
//
//
*******************************************************************************/

.o-media,
.o-media__content { overflow: hidden; }

.o-media__image {
    float: left;
    margin-right: 10px;

    img { display: block; }
}
