/*******************************************************************************
//
//
//
//  #ROW
//
//
//
*******************************************************************************/

.l-row {
    @include clearfix();

    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);

    &.-align-bottom {
        @include mq-at-least(md) {
            display: flex;
            align-items: flex-end;
        }
    }

    &.-align-vertical {
        @include mq-at-least(md) {
            display: flex;
            align-items: center;
        }
    }
}
