/*******************************************************************************
//
//
//
//  #CALLOUT
//
//
//
*******************************************************************************/

.c-callout {
    @include rem-fallback(margin-top, 150px);
    @include rem-fallback(margin-bottom, 150px);

    padding-top: 300px;
    padding-bottom: 300px;
    background: rgba(255, 255, 255, .03);
    text-align: center;

    @include mq-at-least(md) {
        padding-top: 180px;
        padding-bottom: 180px;
    }

    .c-callout__image {
        position: absolute;
        max-width: none;

        &.-left {
            top: -18px;
            left: 0;
            transform: translate(-200px, 0);

            @include mq-until(md) {
                width: 540px;
            }

            @include mq-at-least(md) {
                top: -27px;
                left: 50%;
                transform: translate(calc(-100% - 200px), 0);
            }
        }

        &.-right {
            bottom: -18px;
            right: 0;
            transform: translate(244px, 0);

            @include mq-until(md) {
                width: 540px;
            }

            @include mq-at-least(md) {
                bottom: -27px;
                right: 50%;
                transform: translate(calc(100% + 150px), 0);
            }
        }
    }

    .c-callout__text-block {
        max-width: 460px;
        padding-right: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
        margin-right: auto;
        margin-left: auto;
    }
}