/*******************************************************************************
//
//
//
//  #HORIZONTAL REFERENCE
//
//
//
*******************************************************************************/

hr {
    @include rem-fallback(margin, $base-spacing 0);

    height: 1px;
    background: gray;
    border: 0;
    outline: 0;
}
