/*******************************************************************************
//
//
//
//  #LIST
//
//
//
*******************************************************************************/

/*******************************************************************************
//
//  #ORDERED AND UNORDERED LISTS
//
*******************************************************************************/

ol,
ul {
    @include rem-fallback(margin, $base-spacing 0 0 18px);

    padding-left: 0;

    li {
        &:not(:last-child) { @include rem-fallback(margin-bottom, $base-spacing / 4); }
    }

    & ol,
    & ul {
        margin-top: 5px;
        margin-bottom: 0;
    }
}


/*******************************************************************************
//
//  #DEFINITION LISTS
//
*******************************************************************************/

dd { @include rem-fallback(margin-left, $base-spacing); }
dl { @include rem-fallback(margin, 0 0 $base-spacing); }
dt { font-weight: 700; }
