//******************************************************************************
//
//
//
//  #BREAKPOINTS
//
//
//
//******************************************************************************

$breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 768px,
    lg: 960px,
    xl: 1200px,
    xxl: 1440px
);
