//******************************************************************************
//
//
//
//  #COLORS
//
//
//
//******************************************************************************

$colors: (
    black: #030D11,
    blue: #29FAFF,
    green: #0FFF8C,
    purple: #D636FC,
    yellow: #FFCC40,
    white: #fff,
);

$gradients: (
    'green-blue': '135deg, rgba(15,255,140,1) 0%, rgba(41,250,240,1) 25%, rgba(15,255,140,1) 50%, rgba(41,250,240,1) 100%',
    'purple-orange': '135deg, rgba(214,54,252,1) 0%, rgba(255,204,64,1) 25%, rgba(214,54,252,1) 50%, rgba(255,204,64,1) 100%',
);
