//******************************************************************************
//
//
//
//  #GRID
//
//
//
//******************************************************************************

$grid-fluid: true;

$grid-columns: 12;
$grid-column-width: 70px;
$grid-gutter-width: 30px;

$grid-column: true;
$grid-column-breakpoints: (xs, sm, md, lg, xl, xxl);

$grid-offset: true;
$grid-offset-breakpoints: (md, lg);

$grid-pull: true;
$grid-pull-breakpoints: (md);

$grid-push: true;
$grid-push-breakpoints: (md);
