//******************************************************************************
//
//
//
//  #SPACERS
//
//
//
//******************************************************************************

$spacers: (
    none: 0,
    quarter: $base-spacing / 4,
    half: $base-spacing / 2,
    one: $base-spacing,
    one-half: $base-spacing * 1.5,
    two: $base-spacing * 2,
    two-half: $base-spacing * 2.5,
    three: $base-spacing * 3,
);
