/*******************************************************************************
//
//
//
//  #DISPLAY
//
//
//
*******************************************************************************/

$display: true;
$display-breakpoints: (md, lg);

@if $display {
    .u-d-none { display: none!important; }
    .u-d-block { display: block!important; }
    .u-d-flex { display: flex!important; }
    .u-d-inline { display: inline!important; }
    .u-d-inline-block { display: inline-block!important; }
    .u-d-inline-flex { display: inline-flex!important; }
    .u-d-inline-table { display: inline-table!important; }

    @each $display-breakpoint in $display-breakpoints {
        @include mq-at-least($display-breakpoint) {
            .u-d-#{$display-breakpoint}-none { display: none!important; }
            .u-d-#{$display-breakpoint}-block { display: block!important; }
            .u-d-#{$display-breakpoint}-flex { display: flex!important; }
            .u-d-#{$display-breakpoint}-inline { display: inline!important; }
            .u-d-#{$display-breakpoint}-inline-block { display: inline-block!important; }
            .u-d-#{$display-breakpoint}-inline-flex { display: inline-flex!important; }
            .u-d-#{$display-breakpoint}-inline-table { display: inline-table!important; }
        }
    }
}